@page "/about"
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/maicons.css">
    <link rel="stylesheet" href="css/Ventor/animate/animate.css">
    <link rel="stylesheet" href="css/Ventor/owl-carousel/css/owl.carousel.css">
    <link rel="stylesheet" href="css/Ventor/fancybox/css/jquery.fancybox.css">
    <link rel="stylesheet" href="css/theme.css">

</head>

<div align="center">
    <img src="css/img/Logo2.png" width="900" height="300" />
</div>

<div>
    <h4>    * Sobre el proyeto</h4>
    <p>
        La Comisión federal de electricidad en conjunto con el ayuntamiento de Mérida Yucatán en la lucha contra las constantes fallas en el alumbrado público,
        desea contar con una herramienta que les permita identificar puntos de interés asociados a fallas en los postes de luz. Esto debido a que, al generarse la falla,
        la calle en la que sucede se vuelve vulnerable a asaltos y otros tipos de delitos.
        Por ello se busca agilizar los reportes en el alumbrado público con la herramienta que hemos construido.
    </p>
</div>

<div>
    <h4>    * ¿Quiénes somos?</h4>
    <p>
        Somos un gripo de alumonos de la UTM cansados de las constantes fallas en el alumbrado público y mas aún,
        de las largas filas para poder reportar estas fallas. Es por ello que decidimos crear una página que nos permitiese
        crear los reportes y enviarselos al ayuntamiento.
    </p>
</div>

<div><h3>Desarrolladores:</h3></div>

<div class="container">
    <div class="row">

        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

            <div class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="max-width:319px;">
                <img src="css/Img/DN.png" class="card-img-top" alt="Daniel" width="200" height="300" />

                <div class="card-block">
                    <h4 class="card-title">Daniel Puch.</h4>
                    <p class="card-text">El desarrollador principal de la página, con puño de hierro dicta que lleva y no, la página.</p>
                    <a href="https://www.facebook.com/profile.php?id=100021993758792" class="btn btn-success">Facebook</a>
                </div>
            </div>

            <div class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="max-width:319px;">
                <img src="css/Img/RF.png" class="card-img-top" alt="Rafael" width="200" height="300" />

                <div class="card-block">
                    <h4 class="card-title">Rafael Cauich.</h4>
                    <p class="card-text">Pseudo programador encargado del diseño de la página. Creó las imáganes que usamos.</p>
                    <a href="https://www.facebook.com/RafaFloow/" class="btn btn-success">Facebook</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<div>
    <h3><b><i>En asosiacion con:</i></b></h3>
</div>

<div align="center">
    <img src="css/img/UTM-01.png" width="300" height="150" />
    <img src="css/img/Yuc.jpg" width="250" height="300" />
    <img src="css/img/CFE.png" width="300" height="100" />
</div>



