@page "/login"
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Registration Form</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div class="container" id="registration-form">
        <div class="image"></div>
        <div class="frm">
            <h1>Bienvenido de nuevo</h1>
            <form>
                <div class="form-group">
                    <label for="email"><b>Correo:</b></label>
                    <input type="email" class="form-control" id="email" placeholder="Escribe tu correo">
                </div>
                <div class="form-group">
                    <label for="pwd"><b>Contraseña:</b></label>
                    <input type="password" class="form-control" id="pwd" placeholder="Escribe tu contraseña">
                </div>
                <div class="form-group">
                    <p><a href="#">Iniciar sesion</a></p>
                </div>
            </form>
        </div>
    </div>
</body>


